name: Main

on:
  push:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    strategy:
      matrix:
        platform:
          - os-name: Windows-x86_64
            runs-on: windows-latest
            target: x86_64-pc-windows-msvc
            cargo_extra_args: --no-default-features --features native
          - os-name: Ubuntu-x86_64
            runs-on: ubuntu-latest
            target: x86_64-unknown-linux-gnu
    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - uses: actions/checkout@v5

      - run: cargo fmt --check

      - run: cargo clippy

      - uses: houseabsolute/actions-rust-cross@v1
        with:
          command: "build"
          target: ${{ matrix.platform.target }}
          args: "--locked --release ${{ matrix.platform.cargo_extra_args }}"

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ matrix.platform.runs-on }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: >
          cargo build
          --locked
          --verbose

  release-please:
    name: Execute release

    permissions:
      contents: write
      pull-requests: write

    runs-on: ubuntu-latest
    needs: build

    outputs:
      created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}

    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: rust

  publish:
    name: Publish to crates.io

    runs-on: ubuntu-latest
    needs: release-please
    if: needs.release-please.outputs.created

    environment: crates.io

    steps:
      - uses: actions/checkout@v5

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ubuntu-latest-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build --release

      - name: Upload release artifact
        uses: actions/upload-artifact@v5
        with:
          name: winaskpass-${{ github.sha }}
          path: target/release/winaskpass
          if-no-files-found: error

      - name: Publish
      # https://doc.rust-lang.org/cargo/reference/config.html?highlight=CARGO_REGISTRY_TOKEN#credentials
        run: >
          cargo publish
          --verbose
          --locked
          --no-verify
          --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
